<div class="zone-panel tab-pane" id="zone-panel-<%= id %>" data-id="<%= id %>">
  <h3 class="zone-label">Zone <%= id %></h3>
  <div class="volume-control">
      <button class="btn volume-up"><i class="icon-chevron-up"></i></button>
      <div class="zone-volume" type="number" />0</div>
      <button class="btn volume-down"><i class="icon-chevron-down"></i></button>
  </div>
  <div class='btn-group' data-toggle="buttons-radio">
    <button class="btn enabled-true">On</button>
    <button class="btn enabled-false">Off</button>
  </div>
  <div>
<!--    <button type="button" class="btn muted" data-toggle="button">Mute</button> -->
  </div>
</div>
