// Place all the styles related to the remote controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

*, *:before, *:after {
  -moz-box-sizing: border-box !important;
  -webkit-box-sizing: border-box !important; 
  box-sizing: border-box !important;
}

body, html {
  height: 100%;
}

body {
  background-color: #ddd !important;
}

.wrap {
  width: 100%;
  margin: 0px auto;
  height: 100%;
}

.tabbable {
  height: 100%;
}

.zone-label {
  height: 10%;
  font-size: 2em;
  font-weight: bold;
}

.zone-volume {
  text-align: center;
  height: 3em;
  line-height: 3em;
  width: 100%;
  background: #fff;
  border-right: 1px solid #ddd;
  border-left: 1px solid #ddd;
  font-size: 4em;
}

.volume-control {
  text-align: center;
  width: 100%;
  margin: 2% 0 10% 0;
  padding: 0;
}

.volume-control .btn {
  width: 100%;
  line-height: 2em;
  font-size: 2em !important;
}

.volume-up {
  border-radius: 4px 4px 0px 0px !important;
}

.volume-down {
  border-radius: 0px 0px 4px 4px !important;
}

.tabs-left > .nav-tabs {
  margin-right: 0 !important;
  height: 100%;
  background-color: #ddd;
}

.nav-tabs > li {
  height: 16%;
  line-height: 16%;
}

.nav-tabs > li > a {
  height: 100%;
  text-align: right;
  font-weight: bold;
  font-size: 1.2em;
  display: inline-block;
  vertical-align: middle;
  margin-bottom: 0;
}

.nav-tabs > li > a:before {
  content: '';
  display: inline-block;
  height: 100%; 
  vertical-align: middle;
  margin-right: -0.25em; /* Adjusts for spacing */
}

.tab-content {
  height: 100%;
  background-color: #fff;
}

.zone-panel-wrapper:before {
  content: '';
  display: inline-block;
  vertical-align: middle;
  margin-right: -0.25em;
  height: 100%;
  width: 0;
  box-sizing: content-box !important;
}

.zone-panel-wrapper {
  height: 100%;
  padding: 0 10%;
}

.zone-panel {
  text-align: center;
  display:inline-block !important;
  vertical-align: middle;
  width: 99%;
}

