// Place all the styles related to the remote controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

*, *:before, *:after {
  -moz-box-sizing: border-box !important;
  -webkit-box-sizing: border-box !important; 
  box-sizing: border-box !important;
}

body, html {
  height: 100%;
}

body {
  background-color: #ddd !important;
  color: #3498DB !important;
  padding: 0 !important;
}

.wrap {
  width: 100%;
  margin: 0px auto;
  height: 100%;
}

.tabbable {
  height: 100%;
}

.zone-label {
  height: 10%;
  font-size: 2em;
  font-weight: bold;
  margin-bottom: 10%;
}

.zone-volume {
  text-align: center;
  height: 3em;
  line-height: 3em;
  width: 100%;
  background: #fff;
  font-size: 4em;
  color: #3498DB;
}

.volume-control {
  text-align: center;
  width: 100%;
  margin: 2% 0 10% 0;
  padding: 0;
}

.btn {
  background-image: none !important;
  background-color: #3498DB !important;
  color: #fff !important;
  border: 0 !important;
}

.btn.active {
  background-color: #fff !important;
  color: #3498DB !important;
}

.volume-control .btn {
  width: 100%;
  line-height: 2em;
  font-size: 2em !important;
}

.volume-control .btn:hover {
  color: #fff !important;
}

.volume-up {
  border-radius: 4px 4px 0px 0px !important;
}

.volume-down {
  border-radius: 0px 0px 4px 4px !important;
}

.tabs-left > .nav-tabs {
  margin-right: 0 !important;
  height: 100%;
  background-color: #ddd;
}

.nav-tabs > li {
  height: 16%;
  line-height: 16%;
}

.nav-tabs > li > a {
  height: 100%;
  text-align: right;
  font-weight: bold;
  font-size: 1.2em;
  display: inline-block;
  vertical-align: middle;
  margin-bottom: 0;
}

.nav-tabs > .active > a {
  background-color: #fcfcfc !important;
}

.nav-tabs > li > a > i {
  color: #D23A2C;
  font-size: 0.4em;
  position: relative;
  bottom: 0.3em;
}

.nav-tabs > li > a > i.enabled {
  color: #5bb75b;
}

.nav-tabs > li > a:before {
  content: '';
  display: inline-block;
  height: 100%; 
  vertical-align: middle;
  margin-right: -0.25em; /* Adjusts for spacing */
}

.tab-content {
  height: 100%;
  background-color: #fff;
}

.zone-panel-wrapper:before {
  content: '';
  display: inline-block;
  vertical-align: middle;
  margin-right: -0.25em;
  height: 100%;
  width: 0;
  box-sizing: content-box !important;
}

.zone-panel-wrapper {
  height: 100%;
  padding: 0 10%;
}

.zone-panel {
  text-align: center;
  display:inline-block !important;
  vertical-align: middle;
  width: 99%;
}

.tab-pane.active {
  background-color: #fcfcfc !important;
}
